* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* *:hover {
  border: white 3px solid;
} */


@keyframes link-hover {
  0% {
    background-color: #E5BCA2;
    color: #A67648;
  }

  100% {
    background-color: #A67648;
    color: #E5BCA2;
  }
}

@keyframes image-hover {
  0% {
    background-color: #E5BCA2;
    color: #A67648;
  }

  100% {
    background-color: #A67648;
    color: #E5BCA2;
    max-width: 30%;
  }

}


h1 {
  margin: 0;
  font-size: 20px;
}

body {
  color: #A67648;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 100vh;
  /* background-color: #E5BCA2; */
  /* gradient */
  background: hsla(40, 63%, 85%, 1);

  background: linear-gradient(90deg, hsla(40, 63%, 85%, 1) 0%, hsla(22, 94%, 79%, 1) 100%);

  background: -moz-linear-gradient(90deg, hsla(40, 63%, 85%, 1) 0%, hsla(22, 94%, 79%, 1) 100%);

  background: -webkit-linear-gradient(90deg, hsla(40, 63%, 85%, 1) 0%, hsla(22, 94%, 79%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#F1E1C2", endColorstr="#FCBC98", GradientType=1);
}

.header {

  /* background-color: #AD815B; */
  border: #A67648 3px solid;
  padding: 20px;
  width: 95%;
  margin: 0 auto;
  margin-top: 5px;
}

.header .menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .menu .menu-item {
  margin: 0 10px;
}

.header .menu .menu-item a {
  color: #A67648;
  border: #A67648 3px solid;
  padding: 5px;
  text-decoration: none;

  /* color: #E7CBAC; */
}

.header .menu .menu-item a:hover {
  animation-name: link-hover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.header .menu .menu-item a.active {
  border: white 3px solid;
  background: #A67648;
  color: antiquewhite;
}

.header .menu .menu-item a:visited {
  text-decoration: none;
}

main {
  padding: 20px;
  width: 80%;

  /* visibility: hidden; */
  margin: 0 auto;
  flex: 1;
  /* background-color: #cda16b; */
  border: #A67648 3px solid;
}


main>.block {
  width: 100%;
  margin-bottom: 20px;
  /* background-color: #cda16b; */
  border: #A67648 3px solid;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  position: relative;
  overflow: visible;
}

main>.block .image {
  /* background-color: #cda16b; */
  min-width: 100px;
  max-width: 25%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* animation-name: image-hover;
  animation-direction: reverse; */

}

main>.block .image:hover {
  animation-duration: 0.5s;
  animation-name: image-hover;
  animation-fill-mode: forwards;
}


main>.block .text {
  /* background-color:fac09c #cda16b; */
  border: #A67648 3px solid;

  flex: 1;
  /* fit  */
  padding: 20px;
}

main>.block>.title {
  position: absolute;
  top: -0.7em;
  background: #fac09c;
  left: 5px;
  margin-top: 0px;
}

main>table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid black;
  width: 80px;
  height: 30px;
  text-align: center;
}


.footer {
  border: #A67648 3px solid;
  /* background-color: #A67648; */
  padding: 20px;
  /* width: 100%; */
  margin: 0;
}